# Python

Python is an interpreted language
It can works as scripting language as well as OOP-Language

__[Jupyter Markdown](https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed)__

Lets start with the obvious

In [2]:
print("Hello World")

Hello World

The basic arithmetic operator and logical opertors remain

In [3]:
print(2+3-(5*7)/10)

1.5

In [4]:
print(2>=3 and 3<=4 or 10 == 10)

True

Normal precedence and L to R evaluation applied. ([__Order__](http://www.informit.com/articles/article.aspx?p=459269&seqNum=11))

Python is dynamically-type language meaning, the variable type do not have to explicity stated.

In [43]:
x = 5
y = "John"
print(x,y)

# can assign multiple
a,b = 2,3
print(a,b)

5 John
2 3

## Data Types

Python variable types are as follows. 
We have three different type in what we call "Numbers" - int, float, complex

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Next up is strings

In [12]:
a = "Programming"
b = "Python"

# THe operatoin possible on string are
#printing
print(a)

#concatenation
print(a+" "+b)

#substring
print(a[2:5])

Programming
Programming Python
ogr

Slcling string in Python can get quite interesting considering the option it has.
Check out below

In [19]:
# get first letter
print(a[0])

# get last letter
print(a[-1])

# get everything till 5th letter
print(a[:5])

# get everthing till second last letter, without including second last letter
print(a[:-2])

# get everthing from 2nd to 2nd last letter (including)
print(a[1:-1])

P
g
Progr
Programmi
rogrammin

In [20]:
#lower, upper
print(a.lower())

#replacing
a = "Hello, World!"
print(a.replace("H", "J"))

#splitting - splits a string into list
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

programming
Jello, World!
['Hello', ' World!']

Coming up next is **Lists** (Ref [__Tutorial__](https://www.w3schools.com/python/python_lists.asp))
List is a collection which is ordered and changeable. Allows duplicate members.

In [46]:
#creating a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [49]:
#accessing item
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [50]:
# altering a element of the list
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [51]:
#lenght of list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [52]:
# appending to end of list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [53]:
# inserting at a particular location
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [54]:
# removing an element from the list using the item name
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [55]:
# popping an element using the index
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

Up next is **Dictionary**
It is a collection which is unordered, changeable and indexed. No duplicate members.

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [57]:
# accessing an element dictionary
x = thisdict["model"]
x = thisdict.get("model")

In [65]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [66]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The next two, I have personally never had to use
However just to touch upon them

**Sets** : Set is a collection which is unordered and unindexed. No duplicate members <br>
**Tuple** : Tuple is a collection which is ordered and unchangeable. Allows duplicate members. <br>

In [69]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [71]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# cannot be altered, elements cannot be deleted

banana

In [72]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

## Taking in input

In [9]:
a = input("Enter your name")
print("Hello "+a)

Hello Karun

In [10]:
## casting is something to keep in mind while handling user input

# integer
a = int(input("Enter a number : "))
print("Square is "+str(a*a))

# float
b = float(input("Enter a decimal number : "))
print("10 times this is number is : "+str(b*10))

Square is 4
10 times this is number is : 122.10000000000001

## Conditional flow

In [26]:
# if-elif-else
a = int(input("Enter a number: "))
if a < 10: 
    print("Number lesser that 10")
elif a < 20:
    print("Number bt 10 and 20")
else :
    print("Number is greater than or equal to 20")

Number bt 10 and 20

In [58]:
# case stmts

## Loops

In [30]:
n = 10
while n > 0:
    print(n)
    n -=1

10
9
8
7
6
5
4
3
2
1

In [59]:
for i in range(1,10) :
    print(i)

1
2
3
4
5
6
7
8
9

Now lets have a look at looping through list and dictionaries

In [67]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [64]:
thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [61]:
for x in thisdict:
  print(x)

brand
model
year

In [62]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [63]:
print(thisdict.values())
print(thisdict.keys())

dict_values(['Ford', 'Mustang', 1964])
dict_keys(['brand', 'model', 'year'])

## Function

In [80]:
#def function_name(var1,...):
#    stmt1
#    ...
#    the result of the last line is returned


def add_two(a,b):
    print(a+b)

add_two(2,3)

# default arguments

def generate_number(seed=1):
    print(seed*2+1-2*10-5)
    
generate_number(0)

# default  values arguments should come before those with no default arguments

def user_pow(n,exp=1):
    print(n**exp)
    
user_pow(2)
user_pow(2,3)

# some other function settings

5
-24
2
8

## Modules

In [92]:
import smodule as sm
sm.greeting("Classsss")

Eveyone in the Classsss still awake?

## OOPs in Python

Python is an object oriented programming language. <br>
Almost everything in Python is an object, with its properties and methods. <br>

In [75]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [76]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [79]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Ref : [__Learn Python the Hard Way__](https://www.souravsengupta.com/cds2015/python/LPTHW.pdf)